<footer class="bg-dark">
    <div class="container mt-5">
      <div class="text-center row">
        <div class="col-sm-4 mt-4">
          <address>Address</address>
          <p class="footerInfo">108, University Ave,</p>
          <p class="footerInfo">Kitchener, ON N2J 2W2</p>
        </div> 
        <div class="col-sm-4 mt-4">
          <p class="contact_number">Contact Number</p>
          <p class="footerInfo">+1 123 456 7890 </p>
          <p class="footerInfo">+1 012 345 6789 </p>
        </div>
        <div class="col-sm-4 mt-4">
          <p class="timing">Timing</p>
          <p class="footerInfo">Mon to Fri 7:00 AM to 7:00 PM</p>
          <p class="footerInfo">Sat 8:30 AM to 5:00 PM</p>
        </div>
      </div>
      <hr style="border: 1px solid white;">
      <p class="text-center mt-2 mb-2">
        <a href="mailto:trendify.capstone@gmail.com" class="copyright text-center">trendify.capstone@gmail.com</a>
      </p>
    </div>
  </footer>
  