<%- include("partials/header.ejs") -%>

  <section class="about-us-section py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="mb-4 text-center">About Us</h2>
          <p>
            Trendify is your ultimate destination for trendy and stylish clothing and shoes brand. We take pride in offering a diverse collection of shoes and clothes to match every occasion. Whether you're looking for comfortable sneakers, elegant heels, or durable boots, trendy cloth, comfortable clothes and many more. we have got you covered.
          </p>
          <p>
            Our team of dedicated designers and craftsmen ensure that each pair of shoes and clothes are crafted with precision and attention to detail. We believe in delivering the highest quality products to our customers, and our passion for footwear and clothes reflects in our offerings.
          </p>
          <p>
            At Trendify, we value our customers and strive to provide an enjoyable shopping experience. Our customer support team is always ready to assist you with any inquiries or concerns you may have.
          </p>
          <p>
            Thank you for choosing Trendify for all your footwear and clothing needs. We look forward to serving you and being a part of your fashion journey.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="about-us-section py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h2 class="text-center">Our Team</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6  mb-4 ">
          <div class="staff-card">
            <img src="./images/vinit.png" class="staff-photo" alt="Staff 1">
            <h4>Vinit Dabhi</h4>
            <p class="text-muted">Founder of Trendify</p>
            <p class="text-muted">Kitchener, ON</p>
          </div>
        </div>
        <div class="col-md-6  mb-4">
          <div class="staff-card">
            <img src="./images/pranav.png" class="staff-photo" alt="Staff 2">
            <h4>Pranav Patel</h4>
            <p class="text-muted">CEO of Trendify</p>
            <p class="text-muted">Kitchener, ON</p>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="staff-card">
            <img src="./images/charan.png" class="staff-photo" alt="Staff 2">
            <h4>Charan Sutariya</h4>
            <p class="text-muted">Logistic Manager</p>
            <p class="text-muted">Kitchener, ON</p>
          </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="staff-card">
              <img src="./images/bansari.png" class="staff-photo" alt="Staff 2">
              <h4>Prit Patel</h4>
              <p class="text-muted">CMO of Trendify</p>
              <p class="text-muted">Kitchener, ON</p>
            </div>
          </div>
      </div>
    </div>
  </section>
<%- include("partials/footer.ejs") -%>
  