<%- include("partials/header.ejs") -%>

<section class="hero-section custom-bg homepage-heading-section">
  <div class="container text-center homepage-heading-div">
    <h1 class="homeheading">Contact us</h1>
  </div>
</section>

<h4 class="text-center px-5 mt-4 mb-4">
Thank you for your interest in Tendify. We value your feedback, inquiries, and suggestions. Please feel free to reach out to us using the contact information below, and we'll be happy to assist you.
</h4>
<hr class="line"/>

<section class="contact-details-section py-5 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 contact-details-content">
        <h3>Contact Details</h3>
        <p><i class="fa-solid fa-envelope"></i> Email: trendify.capstone@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> Phone: +1 (123) 456-7890</p>
        <p><i class="fa-solid fa-map-marker"></i> Address: 108 University ave, ON, Canada</p>
      </div>
    </div>
  </div>
</section>

<hr class="line"/>

<section class="contact-details-section py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
      <h3 class="mb-3">Visit our store</h3>

        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.101593608705!2d-80.52108322440726!3d43.47935016365852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf31d0cec9491%3A0x8bf5f60c306d2207!2sConestoga%20College%20Waterloo%20Campus!5e0!3m2!1sen!2sca!4v1690509657815!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="map" aria-label="map"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="line"/>


<%- include("partials/footer.ejs") -%>
