.dark-footer {
    background-color: #333; 
    color: white; 
  }
  
.footerInfo, .contact_number, .timing, address {
    color: white;
}

footer{
    padding-bottom: 25px;
}
.copyright{
    margin-bottom: 20px;
}

