/* Footer start */

.dark-footer {
    background-color: #333; 
    color: white; 
  }
  
.footerInfo, .contact_number, .timing, address {
    color: white;
}

footer{
    padding-bottom: 25px;
}
.copyright{
    margin-bottom: 20px;
}

/* Footer end */

    /* about us page start */
    .staff-card {
        text-align: center;
        margin-bottom: 30px;
    }
  
    .staff-photo {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-bottom: 10px;
    }
   
    /* about us page end */